.About-container {
  padding: 2rem;
  max-width: 1280px;
  margin: 100px auto;
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: repeat(4, 1fr);
}

.About-header {
  grid-column: 1 / span 4;
}

.About-header h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.container-col {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.About-container p {
  text-align: left;
  font-size: 1rem;
}

.About-container .box {
  padding: 10px 20px;
  box-shadow: 
    0 1px 5px rgba(0, 0, 0, 0.2),
    0 1px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.About-container ul {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left; 
  gap: 5px;
  padding: 0;
  margin: 0;
}

.About-bio img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  max-width: 150px;
  margin: 0 auto 10px;
}

.About-header h5 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.About-header img {
  width: 30%;
  max-width: 500px;
  margin-bottom: 1rem;
}

.About-header p {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 0;
}
