
.page-footer > * {
  background-color: initial;
}

.page-footer {
  background-color: #f8f9fa;
  font-size: 14px;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 3rem;
}

.copyright {
  color: black;
  font-size: large;
  text-align: left;
}

.Footer-social {
  display: flex;
  gap: 1rem;
}

.Footer-social a, .Footer-social svg{
  background-color: transparent;
}

.youtube > svg path {
  color:#ff0000
}

.youtube:focus-visible {
  outline: 2px solid #ff0000;
  border-radius: 4px;
}

.facebook > svg path {
  color: #3b5998;
}

.facebook:focus-visible{
  outline: 2px solid #3b5998;
  border-radius: 4px;
}

 .instagram > svg path{
  color: #c13584;
}

.instagram:focus-visible{
  outline: 2px solid #c13584;
  border-radius: 4px;
}

.twitter > svg path {
  color: #1da1f2;
}

.twitter:focus-visible{
  outline: 2px solid #1da1f2;
  border-radius: 4px;
}

.linkedin > svg path {
  color: #1518cf;
}

.linkedin:focus-visible{
  outline: 2px solid #1518cf;
  border-radius: 4px;
}

.github > svg path {
  color: black;
}

.github:focus-visible{
  outline: 2px solid black;
  border-radius: 4px;
}

.reddit > svg path {
  color: #ff4500;
}

.reddit:focus-visible{
  outline: 2px solid #ff4500;
  border-radius: 4px;
}

.twitch > svg path {
  color: #9147ff;
}

.twitch:focus-visible{
  outline: 2px solid #9147ff;
  border-radius: 4px;
}

/* .social:hover {
  color: #007bff;
} */

@media screen and (max-width: 768px) {
  .page-footer {
    flex-direction: column;
    text-align: center;
  }

  .social {
    margin: 10px;
  }
}
