img {
  margin-top: 0;
}

h2 {
  font-family: "Cedarville Cursive", cursive;
}

.gallery {
  display: grid;
  margin: 100px auto 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 70px;
  width: 80%;
}

.card {
  width: 700px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transition: 0.5s;
  transform: scale(0.8) rotate(-15deg);
  border-radius: 20px;
}

.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
}
